  <div calss = "containar" >
    <div class = "row">
        <div class = "col-12 text-center">
          <p class= "flowing">ご注文ありがとうございました</p>
               <p class= "flowing">Flower make you happy!!</p>
        </div>
      </div>
    </div>
 </div>