<div class="container">
  <div class= "row">
    <div class= "col-md-6 py-4">
    <div class="pull-left">
      <%= image_tag 'wrapping.jpg', size: "450x650" %>
    </div>
    </div>

  <!--<div class= "row">-->
    <div class "col-md-6 my-4">
    <div class="pull-right">
      <h1>ラッピングサービスについて </h1>

      <p>
          大切な方への贈り物に<br>
    　    ラッピングをご用意しております。<br>
    　    お花のイメージに合わせて、クリエイターにおまかせになります。<br>
      </p>
    </div>
    </div>
  </div>
</div>