<div class="container">
  <div class="text-center">
    <h1>ラッピングサービスについて </h1>

    <p>大切な方への贈り物に<br>
    　ラッピングをご用意しております。<br>
    　お花のイメージに合わせて、クリエイターにおまかせになります。<br>
    　ラッピング例 ミモザ グリーンの包装紙に抹茶色のリボン<br>
    </p>
  </div>
</div>