<div calss = "containar" >
    <div class = "row">
        <div class = "mx-auto py-5">
          <p class>お問合せを承りました。</p>
               <p class>2日以内に返信致します。</p>
                   <p class>返信がない場合は、再度お問い合わせください。</p>
        </div>
      </div>
    </div>
 </div>