<div class="container">
  <div class="text-center">
    <h1>Four </h1>
    <h1>Campanellas</h1>
    Aboutus<br>
    <p>2020年に誕生したハンドメイドのドライフラワーショップです。<br>
    繊細なドライフラワーを確実な梱包にて全国に配送致します。<br>
    1点１点手作りで、大量生産はできません。<br>
    よって１点ずつのご提供となりますことを予めご了承ください<br>
    受注オーダーも個別に承ります。contactus</p>
  </div>

</div>