<div class="container-fluid">
  <div class= "row" >
    <div class="mx-auto py-2">
      <%= image_tag 'logo.jpg', size: "400x400" %>
      <%#= image_tag 'mimoza.jpg', size: "250x250" %>
      </div>
      </div>
      </div>
      <!--<h1>Four </h1>-->
      <!--<h1>Campanellas</h1>-->
      <div class "row">
      <div class= "mx-auto text-center py-5">
      <h4>Aboutus</h4><br>
      <p>2020年に誕生したハンドメイドのドライフラワーショップFour Campanellas(フォーカンパネラス）です。名前の由来(4つの鐘)は次のコンセプトが関係しています。</p>
      <p>concept1. 四季の花々を1年中楽しんでほしい。（Four)</p>
      <p>concept2. クリエイターの自慢のスワッグを多くの人に楽しんで欲しい。スワッグが鐘の形に似ている。（Campanellas)</p>
      <p>consept3. エイジングが魅力のドライフラワー。リスト作曲のピアノ曲La Campanella(ラ・カンパネラ)という曲の</p>
      <p>もの哀しさがドライフラワーの美しい趣（おもむき）のある様とシンクロすると思い、イメージ曲としています。</p>
      <strong><h5>◇◇◇商品特性とご理解いただきたいこと◇◇◇</h5></strong>
      <p>繊細なドライフラワーを確実な梱包にて全国に配送致します。</p>
      <p>1点１点手作りのため、大量生産はできません。</p>
      <p>よって１点ずつのご提供となりますことを予めご了承ください。</p>
      <p>受注オーダーも個別に承ります。<%= link_to "contactus", new_contact_path(), class: "btn btn-sm btn-outline-info" %></p>


    </div>
  </div>
</div>