<div class="container">
  <div class="text-center">
    <h1>親子フラワー教室のご案内 </h1>

    <p>5月5日(木・祝)　14時〜15時半<br>
    　親　1人　　　　　大人　1,500円(税・お花代込み）<br>
    　お子様　１人　　　子供　1,000円税・お花代込み）<br>
    個人経営のため、繁忙期以外で年に8回開催しております。<br>
    準備のため3日前まで（５月２日17時まで）にお申し込み可能です。<br>
    3日前以降のキャンセルは基本的にご遠慮ください。<br>
    (※キャンセル料・お花代のみ1人500円頂戴します）<br>>
    お申し込みはこちらまで　contactus</p>
  </div>

</div>