<div class="jumbotron jambotron-fluid">
    <div class "container">
      <h1 class="display-1 text-light">Four Campanellas</h1>
    </div>
  </div>
</div>
    <div class="text-center">
      <h3>Welcome Four Campanellas</h3><br />
        <h6>"Four Camapanellas"(フォー カンパネラス)は4つの小さな鐘という意味です。<br />
        会員でない方も新着商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。</h6>
　　</div>

    <div class ="row">
      <div class = "col-12 text-center">
        <h4>新着商品</h4>
        <!--ここから下追記-->
          <div class = "row">
            <% @items.last(4).each do |item| %>
            <div class = "col-3">
            <div class = "card w-30 shadow-lg">
              <%= link_to item_path(item) do %>
              <%= image_tag item.get_item_image("300x300"),size: "300x300", class: "card-img-top" %>
            <% end %>
              <div class = "card-body">
              <div class = "row">
               <%= item.name %>
                 </div>
               <div class = "row">
               <%= item.price %>円
                </div>
              </div>
             </div>
          </div>
        <% end %>

        </div>
      </div>
  </div>