<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-1">Four Campanellas</h1>
    </div>
  </div>

      <div class="text-center">
        <h4>Welcome Four Campanellas<<br />
        "Four Camapanellas"は4つの小さな鐘という意味です。<br />
        会員でない方も商品の閲覧はできますが、<br />
        購入には会員登録が必要になります。</h4>
　　  </div>

      <div class ="row">
        <div class = "col-4">
          <h2>新着商品</h2>
        </div>
      </div>

      <!--<div class = "row">-->
    <!--<#% @items.first(4).each do |item| %>-->
    <!--  <div class = "col-3">-->
    <!--    <div class = "card w-20 shadow-lg">-->
    <!--      <#%= link_to item_path(item) do %>-->
    <!--        <#%= image_tag item.get_item_image("300x200"),size: "300x200", class: "card-img-top" %>-->
    <!--      <#% end %>-->
    <!--      <div class = "card-body">-->
    <!--        <div class = "row">-->
    <!--          <#%= item.name %>-->
    <!--        </div>-->
    <!--        <div class = "row">-->
    <!--          <#%= item.with_tax_price %>円-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--<#% end %>-->
  </div>

</div>


<h1>Welcome Four Campanellas</h1>
<p>"Four Camapanellas"は4つの小さな鐘という意味です。</p>
<p>四季の美しさをふんだんに盛り込んだドライフラワーアイテムを</p>
<p>心に鐘を鳴らしてほしい。そんな想いを込めてshop名にしました。</p>

