@import '~bootstrap/scss/bootstrap';


body {
  margin-top: 0px;
  padding-top: 0px;
  // padding-top:0px;
}


.jumbotron {
   margin-top: 0px;
   padding-top: 0px;
   background-image: url("../images/photo1.jpg");
   background-size: cover;
   background-position: center 60%;
   width: 100%;
   height: 65vh;
   min-height: 500px;
 }

.display-1 {
  font-family: Tangerine
}

.heart {
  color: red;
}

.tag_label {
  background-color: #D2B48C;
}

